@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column; /* Stack items vertically */
  height: 100vh;
  background-image: url('bg.png');
  background-repeat: no-repeat;  
  background-size: contain;
  background-position: right center;
  position: relative; /* Make the hero container relatively positioned */
}

nav {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  padding: 30px 0; /* Adjust the padding as needed */
  position: absolute;
  top: 0;
  width: 100%;
}

.logo {
  max-height: 60px;
  position: absolute;
  left: 30px; /* Adjust the left position as needed */
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 10px 20px;
}

nav ul li a {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
}

nav ul li a:hover {
  color: #fd4766;
}

nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #fd4766;
  transition: 0.3s;
  bottom: 0;
}

nav ul li a:hover:after {
  width: 100%;
}

.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #fd4766;
  border: 2px solid #fd4766;
}

.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}

.content {
  text-align: left; /* Align text to the left */
  margin-left: 8%; /* Adjust margin as needed */
}

.content h1 {
  color: #1f1f25;
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
  margin: 0; /* Remove default margin */
}

.content h1 span {
  color: #fd4766;
}

.content p {
  width: 55%;
  color: #202020;
  margin-top: 25px;
  margin-bottom: 30px;
}
